@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}